﻿/* START -- Imported from PHP site custom.css -- START */

.form-control[readonly],
input[readonly] {
    cursor: pointer;
    background-color: #fff;
}

.mct_description {
    height: 180px !important;
}

.navbar-brand,
nav ul li a {
    font-size: 18px;
}

.wrap {
    min-height: 100%;
    width: 100%;
    background: #fff;
    padding-top: 50px;
}

.main {
    overflow: auto;
    padding-bottom: 50px;
}

.placeholder {
    min-height: 400px;
}

.no_label_fix {
    margin-top: 27px;
}

table {
    margin-top: 10px;
}

.count_spacing {
    padding-bottom: 10px;
}

.maintence_table {
    display: block;
    height: 200px;
    overflow-y: scroll;
}

legend {
    padding-top: 15px;
}

textarea {
    height: 100px !important;
}
/*-----------------------------------------------------------------------------------
	header stlyes
------------------------------------------------------------------------------------*/
.navbar {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.main_nav {
    z-index: 9999;
}
/*-----------------------------------------------------------------------------------
	home_view styles
------------------------------------------------------------------------------------*/
.home_items .jumbotron {
    height: 250px;
}

.user_info {
    padding: 0 !important;
    border-radius: 6px;
}

.user_form {
    padding-top: 30px;
}

.user_shillouette {
    height: inherit;
}

/*-----------------------------------------------------------------------------------
  Button/input field styles
------------------------------------------------------------------------------------*/
.add_interred,
.return_interred,
.add_SOT,
.return_SOT {
    margin-top: 83px;
}

.add_cemetery_name,
.add_course,
.update_employee,
.add_employee,
.return {
    margin-top: 25px;
}

.add_call_type,
.add_source_type {
    margin-top: 12px;
}

.add_councillor {
    margin-top: 25px;
}

.bylaw_update_btn {
    border: none;
    border-radius: 0;
    background: transparent;
    color: darkblue;
    width: 100px;
}

    .bylaw_update_btn:hover,
    .bylaw_update_btn:focus,
    .bylaw_update_btn:active {
        color: lightblue;
        text-decoration: underline;
    }

label[for="missing"] {
    margin-right: 4px;
}

.survey_categories input[type="checkbox"],
.survey_reuqested input[type="checkbox"] {
    display: block;
    margin-top: 12px;
}

.categories_label {
    position: absolute;
    margin-top: -18px;
    margin-left: 15px;
}

.phonebook_legend {
    padding-top: 10px;
}

.phonebook_search_submit {
    margin-left: 5px;
}

.contact_count,
.count {
    position: absolute;
    margin-top: 4px !important;
}


/*-----------------------------------------------------------------------------------
  App navbar styles
------------------------------------------------------------------------------------*/
.navbar-default {
    background-color: #DBDADA;
    border-color: #e7e7e7;
}

    .navbar-default .navbar-nav > li > a,
    .navbar-brand > a {
        color: #555;
    }

    .navbar-default .navbar-brand {
        font-weight: bold;
        font-size: 21px
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:active,
    .navbar-default .navbar-nav > li > a:focus {
        color: #000;
    }

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #000;
        background-color: transparent;
    }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #222 !important;
    color: #fff;
    background-image: none;
}

.delete_BU {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    display: inline-block;
}

/*-----------------------------------------------------------------------------------
  modal styles
------------------------------------------------------------------------------------*/
#myModal {
    margin-top: 50px;
}

.modal_link, .emp_modal_link, .con_modal_link, .MCT_modal_link, .ASSET_modal_link, .cem_modal_link {
    border: none;
    background: none;
    color: #428bca;
}

    .modal_link:hover, .emp_modal_link:hover, .con_modal_link:hover, .MCT_modal_link:hover, .ASSET_modal_link:hover {
        text-decoration: underline;
        color: #2a6496;
    }

@media (min-width: 768px) {
    .modal-dialog {
        width: 850px;
        margin: 165px auto;
    }
}

.modal-dialog {
    width: 850px;
    margin: 165px auto;
}
/*-----------------------------------------------------------------------------------
	footer styles
------------------------------------------------------------------------------------*/
footer {
    bottom: 0;
    position: relative;
    height: 150px;
    width: 100%;
    clear: both;
    padding-top: 20px;
    text-align: center;
}

    footer p {
        margin-left: 50px;
        font-size: 18px !important;
    }

    footer .site_map {
        display: none;
        margin-right: 50px;
        margin-top: -37px;
        padding-bottom: 10px;
    }

        footer .site_map ul {
            list-style-type: none;
            text-align: center;
            margin: -20px 0 0 -34px;
        }

        footer .site_map legend {
            color: #fff;
            font-size: 18px !important;
        }

/* End --- Imported from PHP site custom.css -- END */






@*<p> @Html.ActionLink("Create New", "Create") </p> <table class="table"> <tr> <th> @Html.DisplayNameFor(model => model.EMPL_ID) </th> <th> @Html.DisplayNameFor(model => model.LAST_NME) </th> <th> @Html.DisplayNameFor(model => model.FIRST_NME) </th> <th> @Html.DisplayNameFor(model => model.TITLE_DSC) </th> <th> @Html.DisplayNameFor(model => model.BUNIT_DSC) </th> <th> @Html.DisplayNameFor(model => model.DIVISION_DSC) </th> <th> @Html.DisplayNameFor(model => model.SECTION_DSC) </th> <th> @Html.DisplayNameFor(model => model.LOCATION_DSC) </th> <th> @Html.DisplayNameFor(model => model.WORK_PHN) </th> <th> @Html.DisplayNameFor(model => model.FAX_PHN) </th> <th> @Html.DisplayNameFor(model => model.CELL_PHN) </th> <th> @Html.DisplayNameFor(model => model.PAGER_PHN) </th> <th> @Html.DisplayNameFor(model => model.UPDATE_DTE) </th> <th> @Html.DisplayNameFor(model => model.EMAIL_ID) </th> <th> @Html.DisplayNameFor(model => model.BUSUNIT_CDE) </th> <th> @Html.DisplayNameFor(model => model.STR_CODE) </th> <th> @Html.DisplayNameFor(model => model.CIVIC_NBR) </th> <th> @Html.DisplayNameFor(model => model.FLOOR) </th> <th></th> </tr> @foreach (var item in Model) {
    <tr >
    <td >
    @Html.DisplayFor(modelItem => item.EMPL_ID)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.LAST_NME)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.FIRST_NME)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.TITLE_DSC)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.BUNIT_DSC)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.DIVISION_DSC)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.SECTION_DSC)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.LOCATION_DSC)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.WORK_PHN)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.FAX_PHN)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.CELL_PHN)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.PAGER_PHN)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.UPDATE_DTE)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.EMAIL_ID)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.BUSUNIT_CDE)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.STR_CODE)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.CIVIC_NBR)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.FLOOR)
    </td >
    <td >
    @Html.ActionLink("Edit", "Edit", new { id=item.SEQ_ID }) |
    @Html.ActionLink("Details", "Details", new { id=item.SEQ_ID }) |
    @Html.ActionLink("Delete", "Delete", new { id=item.SEQ_ID })
    </td >
    </tr >
}

</table > *@
