﻿@model HRMPhoneBook.ViewModels.HRMPhoneVM

@{
    ViewBag.Title = "Phone Record Details";
}

<div class="col-sm-12">
    <h2 style="margin-top:2em">Phone Record Details</h2>
    <hr />

    <form id="frmDetails">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.LAST_NME, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.LAST_NME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LAST_NME, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.FIRST_NME, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FIRST_NME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FIRST_NME, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.BUSUNIT_CDE, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.BUSUNIT_CDE, new SelectList(Model.BusinessUnits, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "BUSUNIT_CDE" })
                    @Html.ValidationMessageFor(model => model.BUSUNIT_CDE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.TITLE_DSC, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TITLE_DSC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TITLE_DSC, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.SECTION_DSC, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.SECTION_DSC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SECTION_DSC, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.WORK_PHN, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.WORK_PHN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WORK_PHN, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.CELL_PHN, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.CELL_PHN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CELL_PHN, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.FAX_PHN, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FAX_PHN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FAX_PHN, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.EMAIL_ID, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.EMAIL_ID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL_ID, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.PAGER_PHN, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PAGER_PHN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PAGER_PHN, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.LOCATION_DSC, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LOCATION_DSC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LOCATION_DSC, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.CIVIC_NBR, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CIVIC_NBR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CIVIC_NBR, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-4">
                    @Html.LabelFor(model => model.STR_CODE, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.STR_CODE, new SelectList(Model.Streets, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "STR_CODE" })
                    @Html.ValidationMessageFor(model => model.STR_CODE, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.FLOOR, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FLOOR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FLOOR, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </form>

    <div style="margin-top:2em">
        <div style="text-align: right">

            @Html.ActionLink("Back to Search", "Index", "HRM_PHONE", null, new { @class = "btn btn-default", @style = "margin-right:10px" })
            @Html.ActionLink("Edit", "Edit", "HRM_PHONE", new { id = Model.SEQ_ID }, new { @class = "btn btn-primary" })
        </div>
    </div>
    </div>
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#frmDetails :input").prop("disabled", true);
            });
        </script>
    }
