﻿@model HRMPhoneBook.ViewModels.HRMPhoneVM

@{
    ViewBag.Title = Model.PageMode + " Phone Record";
}

<div class="col-sm-12">
    <h2 style="margin-top:2em">
        @Model.PageMode Phone Record
    </h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.SEQ_ID)
        @Html.Partial("_PhoneRecord", Model)

        <div style="margin-top:2em">
            <div style="text-align: right">

                @Html.ActionLink("Back to Search", "Index", "HRM_PHONE", null, new { @class = "btn btn-default", @style = "margin-right:10px" })
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        <div style="margin-top:3em">
            <div style="text-align: right;">
                <h2>
                    @Model.PageMessage
                </h2>
            </div>
        </div>
    }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

