﻿@model System.Web.Mvc.HandleErrorInfo

<div class="col-sm-12" style="margin-top:2em">
    <div style="text-align: right">
        <h1 class="text-danger">Error.@Model.Exception.Message</h1>

        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>
    <div style="margin-top:2em">
        <div style="text-align: right">
            @Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName, null, new { @class = "btn btn-primary", id = "btnNo" })
        </div>
    </div>
</div>