﻿@model HRMPhoneBook.ViewModels.PhoneIndexVM

@{
    ViewBag.Title = "Halifax Regional Municipality Phone Directory";
}

@section Styles {
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />

}
<div class="col-sm-12">
    <h2 style="margin-top:2em">
        Halifax Regional Municipality Phone Directory
    </h2>
    <hr />

    @using (Html.BeginForm("Search", "HRM_PHONE", FormMethod.Post, new { @id = "frmSearch" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.LastName, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.LastName, htmlAttributes: new { @class = "form-control", id = "LastName" })
                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.FirstName, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.FirstName, htmlAttributes: new { @class = "form-control", id = "FirstName" })
                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.SelectedBusinessUnit, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownListFor(x => Model.SelectedBusinessUnit, new SelectList(Model.BusinessUnits, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "BusinessUnit" })
                    @Html.ValidationMessageFor(x => x.SelectedBusinessUnit, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.Title, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.Title, htmlAttributes: new { @class = "form-control", id = "Title" })
                    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.Section, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.Section, htmlAttributes: new { @class = "form-control", id = "Section" })
                    @Html.ValidationMessageFor(x => x.Section, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.WorkPhone, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.WorkPhone, htmlAttributes: new { @class = "form-control", id = "WorkPhone" })
                    @Html.ValidationMessageFor(x => x.WorkPhone, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.Cell, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.Cell, htmlAttributes: new { @class = "form-control", id = "Cell" })
                    @Html.ValidationMessageFor(x => x.Cell, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.Fax, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.Fax, htmlAttributes: new { @class = "form-control", id = "Fax" })
                    @Html.ValidationMessageFor(x => x.Fax, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.Email, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.Email, htmlAttributes: new { @class = "form-control", id = "Email" })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.Pager, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.Pager, htmlAttributes: new { @class = "form-control", id = "Pager" })
                    @Html.ValidationMessageFor(x => x.Pager, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.WorkLocation, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.WorkLocation, htmlAttributes: new { @class = "form-control", id = "WorkLocation" })
                    @Html.ValidationMessageFor(x => x.WorkLocation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.CivicNumber, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.CivicNumber, htmlAttributes: new { @class = "form-control", id = "CivicNumber" })
                    @Html.ValidationMessageFor(x => x.CivicNumber, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.SelectedStreet, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownListFor(x => Model.SelectedStreet, new SelectList(Model.Streets, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Street" })
                    @Html.ValidationMessageFor(x => x.SelectedStreet, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(x => Model.Floor, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(x => Model.Floor, htmlAttributes: new { @class = "form-control", id = "Floor" })
                    @Html.ValidationMessageFor(x => x.Floor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div style="margin-top:2em">
            <div style="text-align: right">
                <a target="_blank" href="https://hrmreports.hrm.halifax.ca/HRMjsp/HRMPhoneDirectory.pdf" class="btn btn-default" style="margin-right:10px"><i class="fas fa-print">&nbsp;</i>Print Phone Book</a>
                <button type="button" class="btn btn-default" style="margin-right:10px" id="btnReset"><i class="fas fa-eraser">&nbsp;</i>Clear</button>
                <a href="@Url.Action("Create", "HRM_PHONE")" class="btn btn-success" style="margin-right:10px">
                    <i class="fas fa-plus">&nbsp;</i>Add Phone Record
                </a>
                <button type="submit" class="btn btn-primary"><i class="fas fa-search">&nbsp;</i>Search</button>
            </div>
        </div>

        @Html.Hidden("hdnSearchClicked", (object)ViewBag.SearchClicked)

    }

    
        <div id="dvResults" style="padding-top:4em;visibility:hidden">
            <table id="tblResults" class="table table-responsive table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Business Unit</th>
                        <th>Work phone</th>
                        <th>Email</th>
                        <th style="width:150px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SearchResults)
                    {
                        <tr>
                            <td>
                                @item.FIRST_NME @item.LAST_NME
                            </td>
                            <td>
                                @item.BusinessUnitDescription
                            </td>
                            <td>
                                @item.WORK_PHN
                            </td>
                            <td>
                                @item.EMAIL_ID
                            </td>
                            <td style="text-align:right">
                                <a href="@Url.Action("Details", "HRM_PHONE", new { id = item.SEQ_ID })" class="btn btn-primary" data-toggle="tooltip" title="Details">
                                    <span class="fas fa-binoculars" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Edit", "HRM_PHONE", new { id = item.SEQ_ID })" class="btn btn-primary" data-toggle="tooltip" title="Edit">
                                    <span class="fas fa-cog" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Delete", "HRM_PHONE", new { id = item.SEQ_ID })" class="btn btn-danger" data-toggle="tooltip" title="Delete">
                                    <span class="fas fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/datatables.min.js")"></script>

    <script type="text/javascript">

        $.fn.DataTable.ext.pager.numbers_length = 5;

        $('#tblResults').DataTable(
            {
                "language": {
                    "emptyTable": "Search returned no records"
                }
            } 
        );

        $(document).ready(function () {
            $("#btnReset").click(function () {
                $('input').val('');
                $('#BusinessUnit').prop('selectedIndex', 0);
                $('#Street').prop('selectedIndex', 0);
                $('#dvResults').css("visibility", "hidden");
            });

            if ($('#hdnSearchClicked').val() == 'True') {
                $('#dvResults').css("visibility", "visible");
                goToByScroll('dvResults');
            } else {
                $('#dvResults').css("visibility", "hidden");
            }

            function goToByScroll(id) {
                // Scroll
                $('html,body').animate({
                    scrollTop: $("#" + id).offset().top
                }, 'slow');
            }

            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
}
