﻿@model HRMPhoneBook.ViewModels.HRMPhoneVM

@{
    ViewBag.Title = Model.PageMode + " Phone Record";
}

<div class="col-sm-12">
    <h2 style="margin-top:3em"></h2>


    @using (Html.BeginForm("SendEmail", "HRM_PHONE", FormMethod.Post, new { id = "frmReview" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.SEQ_ID)
        @Html.HiddenFor(model => model.ActionMode)
        @Html.Partial("_PhoneRecord", Model)

        <div style="text-align:right">
            <h3>
                This action will send an email to the Call Centre requesting an update, addition or removal of the employee on the previous screen.
            </h3>
            <h3>
                Are you sure you want to continue?
            </h3>
        </div>

        <div style="margin-top:2em">
            <div style="text-align: right">
                @Html.ActionLink("No", "Index", "HRM_PHONE", null, new { @class = "btn btn-default", id = "btnNo" })
                <button id="btnYes" type="submit" class="btn btn-primary" style="margin-left:10px">Yes</button>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dvForm").hide();

            $("#btnYes").prop("disabled", false);
            $("#btnNo").prop("disabled", false);
        });
    </script>
    }

