﻿@{
    ViewBag.Title = "Email Sent";
}


<div class="col-sm-12" style="margin-top:2em">
    <div style="text-align: right">
        @if (ViewBag.EmailSent)
        {
            <h2 style="margin-top:3em">Your message has been sent</h2>
        }
        else
        {
            <h2 style="margin-top:3em">Your message has NOT been sent</h2>
        }
    </div>
    <div style="margin-top:2em">
        <div style="text-align: right">
            @Html.ActionLink("Return to Search", "Index", "HRM_PHONE", null, new { @class = "btn btn-primary", id = "btnNo" })
        </div>
     </div>
</div>
