﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/fontawesome/all.css">
    @RenderSection("Styles", false)
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top site-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo">
                    <a href="/HRMPhoneBook/"><img src="~/images/logo.png" width="245" height="60" border="0" alt="HALIFAX" title="HALIFAX"></a>
                </div>

            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Halifax Regional Municipality Phone Directory", "Index", "HRM_PHONE", new { area = "" }, new { @class = "navbar-brand app-name" })</li>
@*<li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
    </ul>
    <!--<p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>-->
    </div>
    </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <p></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </body>
</html>
